@media (min-width: 980px) {
		.sub__link:hover .sub__menu {
			display: block;		
		}
		.hidden__lg {
			display: none !important;
		}
	}

@media (max-width: 979px) {
	.wrap {
		width: 320px;
	}
	.wrap__padding {
		padding: 10px 10px;
	}
	.padding__left__right__wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
	h2.padding__top__bot__wrap {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	.main__btn  {
		width: 100%;
	}
	.menu__wrap {
		display: block;
	}
	.menu {
		display: none;
	}
	.menu > li {
		display: block;
	}
	.menu > li > a {
	}
	.hidden__sm {
		display: none !important;
	}
	.gamb {
		display: block;
		position: absolute;
		top: 5px;
		right: 15px;
		width: 35px;
		height: 35px;
		background: #fff;
		border-radius: 45px;
	}
	#nav-toggle span { position: absolute; left: 7.5px; top: 16px;}

	#nav-toggle span, 
	#nav-toggle span:before,
	#nav-toggle span:after {
	  position: absolute;
	  display: block;
	  content: '';
	  height: 3px;
	  width: 20px;
	  background: #000;
	  border-radius: 1px;
	  cursor: pointer;
	  top: ;
	}
	#nav-toggle span:before {
	  top: -6px;
	}
	#nav-toggle span:after {
	  bottom: -6px; 
	}
	/* Добавим анимацию всех свойств для блоков нашей иконки */
	#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	  transition: all 500ms ease-in-out;
	}

	/* Центральный блок делаем прозрачным */
	#nav-toggle.activex span {
	  background-color: transparent;
	}

	/* Смещаем псевдо-элементы в центр иконки (на место основного блока) */
	#nav-toggle.activex span:before, #nav-toggle.activex span:after {
	  top: 0;
	}

	/* Наклоняем псевдо-элементы под углом 45 градусов, но в разные стороны */
	#nav-toggle.activex span:before {
	  transform: rotate(45deg);
	}
	#nav-toggle.activex span:after {
	  transform: rotate(-45deg);
	}

	.sub__menu {
		position: relative;
		top: 0px;
	}
	.main__sites__site {
		flex-wrap: wrap;
		justify-content: center;
	}
	.main__sites__logo {
		display: inline-block;
		width: 100%;
	}
	.main__sites__logo img {
		display: block;
		width: 100%;
		height: auto;
	}
	.best {
		z-index: 5;
	}
	.main__sites__content {
		padding-left: 0px;
		padding-top: 10px;
	}
	.main__content__banner {
		display: none;
	}
	.main__content__text {
		padding-right: 0px;
	}
	.main__content {
		display: block;
	}
	.ed__img__margin {
		width: 100%;
		height: auto;
		display: block;
	}
	/* fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff  */
.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
  
  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable td {
	white-space: nowrap;
}




	.tabel__wrap {
		width: 300px;
	}
	.footer {
		padding: 5px;
	}
	.menu > li > a {
		text-align: left;
		font-size: 24px;
	}
	.sub__menu li a {
		font-size: 24px;
		line-height: 58px;
		height: 58px;
		text-align: left;
		font-family: OpenSansCond;
		box-sizing: border-box;
		padding-left: 100px;
	}
	.sub__link > a{
			background-image: url(../img/add.svg);
			background-size: 20px auto;
			background-repeat: no-repeat;
			background-position: 10px center;
	}
	.sub__link > a.open__sub__menu {
		background-image: url(../img/minus.svg);
	}
}