@media (max-width: 767px) {
	.wrap {
		width: 320px;
		padding: 0 10px;
	}
	br.sm {
		display: block;
	}
	.gerb {
		width: 40px;
		height: auto;
		margin-right: 15px;
		flex-shrink: 0;
	}
	.header__p {
		font-size: 11px;
	}
	.content {
		display: block;
		padding-top: 50px;
	}
	.content__left__h1 {
		font-size: 24px;
	}
	.content__left__h3 {
		font-size: 12px;
	}
	.content__left__trucks {
		display: ;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0px;
	}
	.content__left__trucks > div:last-child {
		order: -1;
		margin: 45px 0px 22px;
	}
	.content__left__trucks > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 22px 0px 45px;
	}
	.truck__price {
		font-size: 14px;
		padding-bottom: 20px;
	}
	.truck__price b {
		font-size: 12px;
	}
	.content__left__descr {
		display: table;
		margin: 0 auto;
	}
	.content__left__descr p {
		font-size: 13px;
	}
	.content__left__descr p span {
		display: block;
	}
		.content__left__descr a {
				text-align: center;
				margin-top: 15px;
				display: block;
				width: 240px;
				padding: 2px 0px;
				background: #009be3;
				color: #fff;
				font-weight: 900;
				border-radius: 3px;
			}
	.content__right {
		margin-top: 60px;
		position: relative;
	}
	.content__right__h2 {
		font-size: 16px;
	}
	.section {
		margin-top: 100px;
	}
	.tabs {
		float: none;
		position: absolute;
		margin: 0px;
		top: 60px;
		left: 0px;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.tabs li {
		width: auto;
		font-size: 7px;
	}
	.tabs li:last-child {
		border-width: 1px;
	}
	.tabs__img__wrap {
		height: 25px;
	}
	.tab1 {
		width: 32px;
	}
	.tab2 {
		width: 34px;
	}
	.tab3 {
		width: 49px;
	}
	.tab5 {
		width: 36px;
	}
	.tab6 {
		width: 31px;
	}
	.right__descr br {
		display: none;
	}
	.right__descr br.sm {
		display: block;
	}
}
@media (max-width: 959px) and (min-width: 767px)  {
	.wrap {
		width: 768px;
	}
	br.md {
		display: block;
	}
	.content__left__h1 {
		font-size: 24px;
	}
	.content__left__trucks {
		padding: 25px 0px 35px;
	}
	.truck__price {
		padding-bottom: 15px;
	}
	.content__left__trucks > div img {
		height: 85px;
		width: auto;
	}
	.content__left__descr {
		width: 350px;
	}
	.content__left__descr p {
		font-size: 13px;
	}

}
@media (min-width: 1250px) {
	.wrap {
		width: 1250px;
	}
	.header__p {
		font-size: 18px;
	}
	.gerb {
		width: 40px;
	}
	.content__left__h1 {
		font-size: 42px;
	}
	.content__left__h3 {
		font-size: 24px;
	}
	.truck__price {
		font-size: 16px;
	}
	.content__left__trucks > div {
	    padding: 0px 25px;
	}
	.content__left__descr p {
		font-size: 20px;
	}
	.content__left__descr a {

	    padding: 5px 0px;
	    font-size: 22px;
	}

	.content__right__h2 {
		font-size: 30px;
	}
	.section {
		width: 450px;
		padding: 25px 15px 20px 30px;
	}
	.box__h2 {
		font-size: 30px;
	}
	.box__svg {
		height: 90px;
	}
	.box__h3 {
		font-size: 24px;
	}
	.box__p {
		font-size: 18px;
	}

			.tabs {
				margin-left: -160px;
				margin-top: -45px;
				width: 120px;
			}

			.tabs li {
				font-size: 14px;
				padding: 10px 0px;
			}
			
			.tab1 {
				width: 80px;
				height: 48px;
			}
			.tab2 {
				width: 78px;
				height: 42px;
			}
			.tab3 {
				width: 116px;
				height: 50px;
			}
			.tab5 {
				width: 82px;
				height: 44px;
			}
			.tab6 {
				width: 74px;
				height: 52px;
			}


			a.right__a {
			    font-size: 24px;
			    border-radius: 10px;
			    padding: 12px 0px 10px;
			    margin: 25px auto;
			    text-align: center;
			    width: 225px;

			}

			.right__descr {
				font-size: 18px;
			}




}